.commitment {
    background-color: #f5f5f5;
  }
  
  .commitment__title {
    padding-top: 50px;
    color: #ff6e00;
    font-style: 36px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .title-text {
    color: #575c6b;
    text-align: center;
  }
  .commitment__blocks {
    padding: 37px 0 36px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-column-gap: 20px;
  }
  .guarantee,
  .price,
  .instructions,
  .save-money,
  .support,
  .availability {
    display: flex;
  }
  
  .commitment__blocks--content {
    padding-left: 8px;
  }