.header {
  color: #575c6b;
  text-decoration: none;
}
.header__top-shadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.header__top {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  display: block;
}
.logo_img {
  padding-top: 17px;
}
.logo_name {
  margin-left: -25px;
}
.header__navbar {
  padding-top: 41px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  width: 650px;
  font-weight: 400;
}
.header__navbar a:focus {
  color: #cc2229;
  font-size: 12px;
}

#is {
  font-weight: 700;
  text-decoration: underline;
}
.header__btn {
  margin-top: -8px;
  font-size: 12px;
  width: 116px;
  height: 37px;
}
.header__content {
  background-image: url(../images/Mask.svg), url(../images/header-oval.svg);
  background-position: right top, right center;
  background-repeat: no-repeat, no-repeat;
}

.header__inner-info {
  flex-basis: 60%;
}
.header__inner-photo {
  flex-basis: 40%;
}
.header__title {
  padding-top: 84px;
  color: #575c6b;
  font-size: 54px;
  font-weight: bold;
  line-height: 72px;
}
.header ul {
  display: inline-flex;
  flex-direction: column;
  padding-top: 49px;
}
.header__inner-info li {
  list-style-type: none;
  width: 500px;
  padding-bottom: 24px;
}

.header__inner-info li::before {
  content: url("../images/flag.svg");
  padding-right: 43px;
}
.header__inner-form {
  display: flex;
  color: #ffffff;
}
.form-title {
  width: 214px;
  height: 71px;
  background-color: #ff6d00;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-line {
  display: flex;
  height: 59px;
  width: 535px;
  margin-left: -2px;
  align-items: center;
  background: url(../images/line-form.svg) no-repeat center center;
  font-family: inherit;
}

.percent {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  font-size: 43px;
  margin: 5px 15px;
}

.text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  border-left: 3px solid #ffffff;
  padding-left: 10px;
}

.text span {
  padding-left: 10px;
  text-transform: none;
  font-size: 18px;
  line-height: 24px;
}

.form-arrow {
  width: 154px;
  height: 58px;
  background: url(../images/form-arrow.svg) no-repeat center center;
}

.form-block {
  margin-top: -14px;
  background: linear-gradient(
    317.76deg,
    #ffa600 40.02%,
    #ff7800 68.68%,
    #ff6d00 83.15%
  );
  border-radius: 10px;
}
.form-block__content {
  padding: 0 40px 16px;
  display: flex;
  justify-content: space-between;
}
.form-block__content--left {
  color: #ffffff;
}
.form-block__content--left p {
  padding: 38px 0 16px;
  font-size: 18px;
  line-height: 24px;
}
input[type="radio"],
label {
  cursor: pointer;
}

input[type="radio"] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #f80000;
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: linear-gradient(179.04deg, #f80000 -29.81%, #9f041b 129.89%);
  transform: translate(-50%, -50%);
  visibility: visible;
}
.form-block__content--right {
  padding-top: 38px;
  width: 477px;
}
form {
  display: grid;
  grid-template-columns: 253px 208px;
  grid-gap: 16px;
  color: #575c6b;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
#states,
#email {
  width: 253px;
  height: 47px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
#number__input,
#surname {
  width: 208px;
  height: 47px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
.form__btn {
  width: 100%;
  height: 50px;
  margin-top: 30px;
}

.form-block__content--right p {
  padding-top: 6px;
  color: #ffffff;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
@media (max-width: 375px) {
}
